---
// src/components/Ads.astro
const { type } = Astro.props;
---

{type === 'horizontal' && (
  <div style="margin: 1rem 0; text-align: center;">
    <p style="font-size: 10px; color: gray; margin-bottom: 5px;">スポンサーリンク</p>
    <script is:inline src="https://adm.shinobi.jp/o/ae858bf51ea81ba7e5d8c491dbc3d627"></script>
  </div>
)}

{type === 'square' && (
  <div style="margin: 2rem 0; text-align: center;">
    <p style="font-size: 10px; color: gray; margin-bottom: 5px;">スポンサーリンク</p>
    <script is:inline src="https://adm.shinobi.jp/o/c68c880288e59ed7ade0e94d250be6c9"></script>
  </div>
)}

{type === 'vertical' && (
  <div style="margin: 1rem 0; text-align: center; width: 100%;">
    <p style="font-size: 10px; color: gray; margin-bottom: 5px;">AD</p>
    <script src="https://adm.shinobi.jp/o/c68c880288e59ed7ade0e94d250be6c9"></script>
  </div>
)}
